<!DOCTYPE html>
<html>
	<head>
		<title>Sign up sails</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<base href="/">

		<!--STYLES-->
		<link rel="stylesheet" href="/styles/lib/alertify.bootstrap3.css">
		<link rel="stylesheet" href="/styles/lib/alertify.core.css">
		<link rel="stylesheet" href="/styles/lib/angular-csp.css">
		<link rel="stylesheet" href="/styles/lib/bootstrap.min.css">
		<link rel="stylesheet" href="/styles/lib/ionicons.css">
		<link rel="stylesheet" href="/styles/style.css">
		<!--STYLES END-->
	</head>
	<body ng-app="streamaApp" ng-cloak>

		<ui-view></ui-view>

		<!--TEMPLATES-->
		<script type="text/javascript" src="/jst.js"></script>
		<!--TEMPLATES END-->

		<!--SCRIPTS-->
		<script src="/js/dependencies/sails.io.js"></script>
		<script src="/js/dependencies/jquery.js"></script>
		<script src="/js/dependencies/angular.js"></script>
		<script src="/js/dependencies/Autolinker.js"></script>
		<script src="/js/dependencies/alertify.js"></script>
		<script src="/js/dependencies/angular-local-storage.js"></script>
		<script src="/js/dependencies/angular-resource.js"></script>
		<script src="/js/dependencies/angular-sanitize.js"></script>
		<script src="/js/dependencies/angular-ui-router.js"></script>
		<script src="/js/dependencies/angular-ui-slider.js"></script>
		<script src="/js/dependencies/compareto.js"></script>
		<script src="/js/dependencies/jquery-ui.js"></script>
		<script src="/js/dependencies/lodash.js"></script>
		<script src="/js/dependencies/mousetrap.js"></script>
		<script src="/js/dependencies/ng-file-upload.js"></script>
		<script src="/js/dependencies/ui-bootstrap-custom-0.13.1.js"></script>
		<script src="/js/dependencies/ui-bootstrap-custom-tpls-0.13.1.js"></script>
		<script src="/js/streama-app.js"></script>
		<script src="/js/controllers/admin-ctrl.js"></script>
		<script src="/js/controllers/admin-movie-ctrl.js"></script>
		<script src="/js/controllers/admin-movies-ctrl.js"></script>
		<script src="/js/controllers/admin-settings-ctrl.js"></script>
		<script src="/js/controllers/admin-show-ctrl.js"></script>
		<script src="/js/controllers/admin-shows-ctrl.js"></script>
		<script src="/js/controllers/admin-users-ctrl.js"></script>
		<script src="/js/controllers/dash-ctrl.js"></script>
		<script src="/js/controllers/login-ctrl.js"></script>
		<script src="/js/controllers/modal-file-browser-ctrl.js"></script>
		<script src="/js/controllers/modal-file-ctrl.js"></script>
		<script src="/js/controllers/modal-movie-ctrl.js"></script>
		<script src="/js/controllers/modal-tvshow-ctrl.js"></script>
		<script src="/js/controllers/modal-user-ctrl.js"></script>
		<script src="/js/controllers/modal-video-ctrl.js"></script>
		<script src="/js/controllers/player-ctrl.js"></script>
		<script src="/js/controllers/profile-ctrl.js"></script>
		<script src="/js/directives/admin-episode-directive.js"></script>
		<script src="/js/directives/streama-video-player-directive.js"></script>
		<script src="/js/services/api-service.js"></script>
		<script src="/js/services/filters.js"></script>
		<script src="/js/services/modal-service.js"></script>
		<script src="/js/services/player-service.js"></script>
		<script src="/js/services/socket-service.js"></script>
		<script src="/js/services/upload-service.js"></script>
		<!--SCRIPTS END-->
	</body>
</html>