<div id='login'>
  <div class='inner'>
    <div class='fheader'>Login</div>
    <form id='loginForm' class='cssform form-horizontal'>

      <div class="form-group">
        <label class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" name="email" class="form-control" placeholder="Email" ng-model="loginData.email">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="password" name='password' class="form-control" placeholder="Password" ng-model="loginData.password">
        </div>
      </div>

      <button ng-click="doLogin(loginData)" class="btn btn-primary pull-right">Submit</button>
    </form>
  </div>
</div>